<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Introduction to Vue.js 2</title>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <style>
      .demo {
        width: 100px;
        height: 100px;
        background-color: gray;
        display: inline-block;
        margin: 10px;
      }

      .red {
        background-color: red;
      }

      .green {
        background-color: green;
      }

      .blue {
        background-color: blue;
      }
    </style>
  </head>
  <body>
    <div id="app">
      <h1 v-once>{{ sayHello() }}</h1>
      <input type="text" v-on:input="changeTitle" />
      <p>{{ title }}</p>
      <p>Check out: <a v-bind:href="link" target="_blank" rel="noopener noreferrer">Go here</a></p>
      <p v-html="finishedLink"></p>

      <br />
      <hr />
      <hr />
      <br />

      <button v-on:click="clickCounter(2, $event)">Click Me</button>
      <p>Click count: {{ count }}</p>
      <p v-on:mousemove="updateCoordinates">
        Coordinates: {{ x }} / {{ y }} - <span v-on:mousemove.stop>DEAD SPOT</span>
      </p>
      <input type="text" v-on:keyup.enter.space="consoleMe" />

      <br />
      <br />
      <hr />
      <hr />
      <br />

      <input type="text" v-model="name" placeholder="Names" />

      <br />
      <br />
      <hr />
      <hr />
      <br />

      <button v-on:click="counter++">Increase</button>
      <button v-on:click="counter--">Decrease</button>
      <button v-on:click="secondCounter">Increase Second</button>
      <p>Counter: {{ counter }} | Second Counter: {{ secondCounter }}</p>
      <p>Result: {{ result() }} | Output: {{ output }}</p>

      <br />
      <hr />
      <hr />
      <br />

      <div 
        class="demo" 
        @click="attachRed = !attachRed" 
        :class="divClasses"
      ></div>
      <div class="demo" :class="{'red': attachRed}"></div>
      <div class="demo" :class="[color, {'red': attachRed}]"></div>
      <br />
      <input type="text" v-model="color" />

      <br />
      <br />
      <hr />
      <hr />
      <br />

      <div class="demo" :style="{'background-color': color2}"></div>
      <div class="demo" :style="myStyle"></div>
      <div class="demo" :style="[myStyle, {height: '50px', width: '50px'}]"></div>
      <br />
      <input type="text" v-model="color2" />
    </div>

    <script>
      /*
        Vue Instance
          - el: Connect to DOM
          - data: Store Data to be used
          - methods: Functions of this Vue Instance
          - computed: Dependant Properties, can be used like a property in the data object
          - watch: Execute code upon data changes

        Shortcuts
          - @click is the same as v-on:click. Another way of thinking about it is, @(at) the click event
          - :href is the same as v-bind:href
      */

      new Vue({
        el: '#app',
        data: {
          title: 'Hello World',
          link: 'https://duckduckgo.com',
          finishedLink: '<a href="https://google.com">Do not go here</a>',
          count: 0,
          x: 0,
          y: 0,
          name: 'Lord of the Dance',
          counter: 0,
          secondCounter: 0,
          attachRed: false,
          color: 'green',
          color2: 'gray'
        },
        computed: {
          output: function() {
            return this.counter > 5 ? 'Greater than 5' : 'Less than 5'
          },
          divClasses: function() {
            return {
              'red': this.attachRed,
              'blue': !this.attachRed
            }
          },
          myStyle: function() {
            return {
              'background-color': this.color2
            }
          },
        },
        watch: {
          counter: function(value) {
            console.log('Counter: ', value)
            const vm = this
            setTimeout(() => {
              vm.counter = 0
            }, 2000)
          },
        },
        methods: {
          changeTitle: function(event) {
            this.title = event.target.value
          },
          sayHello: function() {
            this.title = 'Say Hello!'
            return this.title
          },
          clickCounter: function(i, event) {
            this.count++
          },
          updateCoordinates: function(event) {
            this.x = event.clientX
            this.y = event.clientY
          },
          // deadSpot: function(event) {
          //   event.stopPropagation()
          // }
          consoleMe: function(event) {
            console.log(event.target.value)
          },
          result() {
            return this.counter > 5 ? 'Greater than 5' : 'Less than 5'
          },
        },
      })
    </script>
  </body>
</html>
