<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Exercise</title>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
  <body>
    <div id="exercise">
      <!-- 
          1)  Hook up the button to toggle the display of the two paragraphs. Use both v-if and 
              v-show and inspect the elements to see the difference 
      -->
      <div>
        <div v-if="toggle">
          <p>v-if: You either see me ...</p>
          <p>...or me</p>
        </div>
        <div v-show="!toggle">
          <p>v-show: You either see me ...</p>
          <p>...or me</p>
        </div>

        <button @click="toggle = !toggle">Toggle {{toggle}}</button>
      </div>

      <!-- 2) Output an <ul> of array elements of your choice. Also print the index of each element. -->
      <ul>
        <li v-for="(value, index) in array" :key="index">
          {{index}} | {{value}}
        </li>
      </ul>

      <!-- 
          3)  Print all key-value pairs of the following object: {title: 'Lord of the Rings', author: 'J.R.R. Tolkiens', books: '3'}. 
              Also print the index of each item. 
      -->
      <ul>
        <li v-for="(value, key) in myObject" :key="index">
          {{key}}: {{value}}
        </li>
      </ul>

      <!-- 
          4)  Print the following object (only the values) and also create a nested loop for the 
              array: {name: 'TESTOBJECT', data: [1.67, 1.33, 0.98, 2.21]} (hint: use v-for and v-if to achieve this)
      -->
      <ul>
        <li v-for="(item, index) in testData" :key="index">
          <ul v-if="Array.isArray(item)">
            <li v-for="value in item">
              {{value}}
            </li>
          </ul>
          <span v-else>{{item}}</span>
        </li>
      </ul>
    </div>

    <script>
      new Vue({
        el: '#exercise',
        data: {
          toggle: true,
          array: ['Max', 'Anna', 'Chris', 'Manu'],
          myObject: {
            title: 'Lord of the Rings',
            author: 'J.R.R. Tolkiens',
            books: '3',
          },
          testData: {
            name: 'TESTOBJECT',
            id: 10,
            data: [1.67, 1.33, 0.98, 2.21],
          },
        },
      })
    </script>
  </body>
</html>
