<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Conditional Rendering and Lists</title>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
  <body>
    <div id="app">
      <div>
        <h3>Section 36 - 39</h3>
        <p v-if="show">You can see me!</p>
        <p v-else>Now yo usee me!</p>

        <template v-if="show">
          <div>
            Inside a template
          </div>
        </template>

        <p v-show="show">Do you also see me?</p>
        <button @click="show = !show">Switch</button>
      </div>

      <div>
        <h3>Section 40</h3>

        <ul>
          <li v-for="(ingredient, index) in ingredients" :key="ingredient+index">
            {{ index }}: {{ ingredient }}
          </li>
        </ul>
        <button @click="ingredients.push('spices')">Add Spice</button>

        <hr />

        <template v-for="(ingredient, index) in ingredients">
          <h4>{{ ingredient }}</h4>
          <span>{{ index }}</span>
        </template>

        <hr />

        <template v-for="person in persons">
          <template v-for="(value, key, index) in person">
            <div>
              {{index}} | {{key}}: {{value}}
            </div>
          </template>
          <br />
        </template>

        <hr />

        <span v-for="n in 10">{{n}}</span>
      </div>
    </div>

    <script>
      new Vue({
        el: '#app',
        data: {
          show: true,
          ingredients: ['meat', 'fruit', 'cookies'],
          persons: [
            { name: 'Dwight Kurt Schrute III', age: 50, color: 'Mustard' },
            { name: 'James Duncan "Jim" Halpert', age: 49, color: 'Blue' },
          ],
        },
      })
    </script>
  </body>
</html>
